MANIFEST
TAGS
build
dist
# created during build:
pyang.egg-info
.cache
# created during test:
xpath_parsetab.py
.pytest_cache
.python-version
*.rnc
schemas.xml
*.pyc
*.egg-info
*.idea
.coverage*
.profile*
venv/
/test/test_*/*.dsrl
/test/test_*/*.rng
/test/test_*/*.sch
/test/test_*/*.out
/test/test_*/*.log
/test/test_*/*.dsdl
/test/test_*/*.capa
/test/test_*/*.gen.*
/test/test_good/*.yang.yin
/test/test_good/*.xsd
/test/test_json/*.jtox
/test/test_json/*.xsl
/test/test_json/test-data-new.json
/test/test_json/test-data.xml
/test/test_xsd/*.xsd
/test/test_*/out/
