language: python
python:
  # - "2.6" # error: no register_namespace in xml.etree.ElementTree
  - "2.7"
  # - "3.2" # error: coverage doesn't work
  # - "3.3" # error: pytest doesn't work
  # - "3.4" # error: lxml doesn't work
  # - "3.5" # error: coverage doesn't work
  - "3.6"
  - "3.7"
  - "3.8"
addons:
  apt:
    packages:
      - xsltproc
      - jing
      - libxml2-utils
      - bash
install:
  - pip install -r requirements.txt
  - pip install -r dev-requirements.txt
script:
  - source env.sh
  - export USE_VIRTUALENV=true
  - make test
  - find . -name '.coverage*' -exec mv -t . {} +
  - coverage combine
  # Test .gitignore for tests:
  - TMP=$(tempfile)
  - git ls-files . --exclude-standard --others | tee "$TMP"
  - if test -s "$TMP"; then false; else true; fi
  # Test if we .gitignore any tracked files:
  - git ls-files -i --exclude-standard | tee "$TMP"
  - if test -s "$TMP"; then false; else true; fi
after_success:
  - coveralls
