name: tests
on: [push]
jobs:
  run-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}

      - name: Prepare prerequisites
        run: sudo apt-get update

      - name: Install prerequisites
        run: sudo apt-get install libxml2-utils xsltproc jing -y

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r dev-requirements.txt

      - name: Run tests
        run: |
          source env.sh
          export USE_VIRTUALENV=true
          make pylint test TEST_MODE=coverage
          find . -name '.coverage*' -exec mv -t . {} +
          coverage combine
          # Test .gitignore for tests:
          TMP=$(tempfile)
          git ls-files . --exclude-standard --others | tee "$TMP"
          if test -s "$TMP"; then false; else true; fi
          # Test if we .gitignore any tracked files:
          git ls-files -i --exclude-standard | tee "$TMP"
          if test -s "$TMP"; then false; else true; fi

#      - name: Coveralls
#        uses: coverallsapp/github-action@master
#        with:
#          github-token: ${{ secrets.GITHUB_TOKEN }}
